@import './styles/layout.scss';
@import './styles/navbar.scss';
@import './styles/topography.scss';
@import './styles/title.scss';
@import './styles/about.scss';
@import './styles/skills.scss';
@import './styles/portfolios.scss';
@import './styles/contact.scss';
@import './styles/slideShow.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c',sans-serif;
    font-size: 1.2rem;
}

span{
    color: #037FFF
}